<div>
    <app-header title="Maintenance events" description="Manage your maintenance events">
        <app-select description="All events"
            [options]="[{name: 'Future', value: 'false'}, {name: 'Done', value: 'true'}]"
            (optionChange)="onOptionChange($event)" />
    </app-header>
    <div class="flex justify-between pt-2 pb-2 px-10 border-t-1 border-gray-100">
        <div>
            <button
                class="flex items-center px-2 py-1 text-sm font-medium focus:outline-none rounded-lg border hover:bg-gray-500 hover:cursor-pointer focus:z-10 focus:ring-4focus:ring-gray-700 bg-gray-500 text-white border-gray-600 hover:text-white :hover:bg-gray-700"
                (click)="back()">Back
                <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="18" height="18"
                    class="fill-white">
                    <path
                        d="M19,11H9l3.29-3.29a1,1,0,0,0,0-1.42,1,1,0,0,0-1.41,0l-4.29,4.3A2,2,0,0,0,6,12H6a2,2,0,0,0,.59,1.4l4.29,4.3a1,1,0,1,0,1.41-1.42L9,13H19a1,1,0,0,0,0-2Z" />
                </svg>
            </button>
            <h3 class="text-lg"><span class="font-bold">Maintenance: </span>
                <span class="text-gray-600">{{this.maintenanceService.selectedMaintenance()?.title}}</span>
            </h3>
            @if(this.maintenanceService.selectedMaintenance()?.notes){
            <p class="text-sm mt-0 "><span class="font-bold">Description: </span>
                <span class="text-gray-600">{{this.maintenanceService.selectedMaintenance()?.notes}}</span>
            </p>
            }
        </div>
        <div>
            @if(!showEditForm){
            <button
                class="flex justify-center items-center my-1 w-24 py-1 text-sm font-medium focus:outline-none rounded-lg border hover:bg-blue-500 hover:cursor-pointer focus:z-10 focus:ring-4focus:ring-blue-700 bg-blue-500 text-white border-blue-600 hover:text-white"
                (click)="toggleEditEvent()">Edit
                <svg xmlns="http://www.w3.org/2000/svg" id="Filled" viewBox="0 0 24 24" class="fill-white p-0.5"
                    width="18" height="18">
                    <path
                        d="M1.172,19.119A4,4,0,0,0,0,21.947V24H2.053a4,4,0,0,0,2.828-1.172L18.224,9.485,14.515,5.776Z" />
                    <path
                        d="M23.145.855a2.622,2.622,0,0,0-3.71,0L15.929,4.362l3.709,3.709,3.507-3.506A2.622,2.622,0,0,0,23.145.855Z" />
                </svg>
            </button>
            }@else {
            <button
                class="flex justify-center items-center my-1 w-24 py-1 text-sm font-medium focus:outline-none rounded-lg border hover:bg-gray-500 hover:cursor-pointer focus:z-10 focus:ring-4focus:ring-blue-700 bg-gray-500 text-white border-gray-600 hover:text-white"
                (click)="toggleEditEvent()">Close
                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="18"
                    class="fill-white p-0.5" height="18">
                    <path
                        d="M13.292,12L21.774,1.633c.35-.427,.286-1.057-.142-1.407-.428-.348-1.057-.287-1.407,.142L12,10.421,3.774,.367c-.351-.429-.98-.49-1.407-.142-.428,.351-.491,.98-.142,1.407L10.708,12,2.226,22.367c-.35,.427-.286,1.057,.142,1.407,.425,.348,1.056,.288,1.407-.142L12,13.579l8.226,10.053c.351,.43,.982,.489,1.407,.142,.428-.351,.491-.98,.142-1.407L13.292,12Z" />
                </svg>

            </button>
            }
            <button
                class="flex justify-center items-center w-24  py-1 text-sm font-medium focus:outline-none rounded-lg border hover:bg-red-400 hover:cursor-pointer focus:z-10 focus:ring-4 focus:ring-gray-700 bg-red-500 text-white border-red-600 hover:text-white"
                (click)="toggleDialog()">Delete
                <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" class="fill-white p-0.5"
                    width="18" height="18">
                    <path
                        d="M21,4H17.9A5.009,5.009,0,0,0,13,0H11A5.009,5.009,0,0,0,6.1,4H3A1,1,0,0,0,3,6H4V19a5.006,5.006,0,0,0,5,5h6a5.006,5.006,0,0,0,5-5V6h1a1,1,0,0,0,0-2ZM11,2h2a3.006,3.006,0,0,1,2.829,2H8.171A3.006,3.006,0,0,1,11,2Zm7,17a3,3,0,0,1-3,3H9a3,3,0,0,1-3-3V6H18Z" />
                    <path d="M10,18a1,1,0,0,0,1-1V11a1,1,0,0,0-2,0v6A1,1,0,0,0,10,18Z" />
                    <path d="M14,18a1,1,0,0,0,1-1V11a1,1,0,0,0-2,0v6A1,1,0,0,0,14,18Z" />
                </svg>

            </button>
        </div>
    </div>
    <div class="px-0 sm:px-10">
        @if(!showEditForm){
        <app-table
            [columns]="[{header: 'Due date', field: 'due_date'}, {header: 'Completion date', field: 'completion_date'}]"
            [data]="this.maintenanceEventsService.maintenanceEvents()" button_text="Done"
            (sendId)="changeStatus($event)" />
        }@else{
        <div class="flex justify-center">
            <app-add-form [config]="maintenanceFormConfig" [data]="maintenanceFormData"
                (formSubmit)="updateMaintenance($event)"></app-add-form>
        </div>
        }
    </div>
</div>
@if(showDeleteDialog){
<app-confirm-dialog description="This action cannot be undone. Your maintenance and its events will be deleted."
    (confirmDialog)="deleteMaintenance(id)" />
}