<div>
    <app-header title="Categories" description="Manage your categories" />
    <div>
        <app-tabs [tabs]="['All', 'Add new']" [activeIndex]="selectedTab" (tabChange)="onTabChange($event)" />
    </div>
    <div class="px-0 sm:px-10">
        @if(selectedTab === 0){
        <app-table [columns]="[{header: 'name', field: 'name'}, {header: 'created at', field: 'created_at'}]"
            [data]="this.categoriesService.categories()" />
        }
        @if(selectedTab === 1){
        <p>New</p>
        }
    </div>
</div>