<div class="mt-8 border-t border-gray-100 py-8 px-4">
    <div class="max-w-screen-xl mx-auto sm:flex sm:justify-between">
        <p class="text-xs text-gray-500">&copy; 2025 Jakub Bryska All rights reserved.</p>

        <ul class="mt-8 flex flex-wrap justify-start gap-4 text-xs sm:mt-0 lg:justify-end">
            <li>
                <a href="https://www.linkedin.com/in/jakub-bryska-b905b0279"
                    class="text-gray-500 transition hover:opacity-75">Linkedin</a>
            </li>

            <li>
                <a href="https://github.com/whit33y" class="text-gray-500 transition hover:opacity-75">Github</a>
            </li>
        </ul>
    </div>
</div>