<section class="w-full flex">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-4">
        <div class="text-center space-y-5">
            <div class="inline-flex items-end justify-center w-full text-center mx-auto relative">
                <div
                    class="absolute transform translate-x-24 ml-6 flex items-center justify-center bg-gray-50 rounded-full w-12 h-12 md:w-16 md:h-16 border-4 border-white text-xl md:text-2xl">
                    🚗
                </div>
                <div
                    class="absolute transform -translate-x-24 -ml-6 flex items-center justify-center bg-gray-50 rounded-full w-12 h-12 md:w-16 md:h-16 border-4 border-white text-xl md:text-2xl">
                    🚲
                </div>
                <div
                    class="absolute transform -translate-x-16 flex items-center justify-center bg-gray-50 rounded-full w-16 h-16 md:w-20 md:h-20 border-4 border-white text-2xl md:text-3xl">
                    🌳
                </div>
                <div
                    class="absolute transform translate-x-16 flex items-center justify-center bg-gray-50 rounded-full w-16 h-16 md:w-20 md:h-20 border-4 border-white text-2xl md:text-3xl">
                    👕
                </div>
                <div
                    class="flex items-center justify-center bg-gray-50 rounded-full w-20 h-20 md:w-24 md:h-24 border-4 border-white relative text-3xl md:text-4xl">
                    🏠
                </div>
            </div>
            <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">
                Track your Maintenances
                <span class="px-2 py-1 relative inline-block">
                    <svg class="stroke-current bottom-0 absolute text-blue-300 -translate-x-2" viewBox="0 0 410 18"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 6.4c16.8 16.8 380.8-11.2 397.6 5.602" stroke-width="12" fill="none"
                            fill-rule="evenodd" stroke-linecap="round"></path>
                    </svg>
                    <span class="relative">with us</span>
                </span>
            </p>

            <p class="max-w-3xl mt-5 mx-auto text-xl text-gray-500">
                Register now and never lose track of your things again.
            </p>
            <div class="flex flex-col sm:flex-row space-y-2.5 sm:space-y-0 sm:space-x-2.5 items-center justify-center">
                <a href="/authentication" class="w-full sm:w-auto">
                    <button type="button"
                        class="flex items-center justify-center px-4 py-3 w-full  shadow-sm font-medium rounded-full border border-blue-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-200 transition duration-250 ease-in-out hover:cursor-pointer hover:bg-blue-400">
                        <span class="text-base">Sign up or log in</span>
                    </button>
                </a>
            </div>

        </div>
    </div>
</section>