<div>
    <app-header title="Maintenance" description="Manage your maintenances">
        @if(selectedTab === 0){
        <app-select description="All categories" [options]="categorySelect()" (optionChange)="onOptionChange($event)" />
        }
    </app-header>
    <div>
        <app-tabs [tabs]="['All', 'Add new']" [activeIndex]="selectedTab" (tabChange)="onTabChange($event)" />
    </div>
    <div class="px-0 sm:px-10 ">
        @if(selectedTab === 0){
        <app-table [columns]="[{header: 'title', field: 'title'}, {header: 'created at', field: 'created_at'}]"
            [data]="this.maintenanceService.maintenance()" />
        }
        <div class="flex justify-center">
            @if(selectedTab === 1){
            <app-add-form [config]="maintenanceFormConfig" (formSubmit)="submitForm($event)" />
            }
        </div>
    </div>
</div>