<div>
    <app-header title="Maintenance" description="Manage your maintenances">
        @if(selectedTab === 0){
        <app-select description="Select view" [options]="view" (optionChange)="onViewChange($event)" class="mx-1" />
        <app-select description="All categories" [showDesc]="true" [options]="categorySelect()" class="mx-1"
            (optionChange)="onOptionChange($event)" />
        }
    </app-header>
    <div>
        <app-tabs [tabs]="['All', 'Add new']" [activeIndex]="selectedTab" (tabChange)="onTabChange($event)" />
    </div>
    <div class="px-0 sm:px-10 ">
        @if(selectedTab === 0){
        @if(selectView === 'list'){
        <app-table [columns]="[{header: 'title', field: 'title'}, {header: 'Start date', field: 'start_date'}]"
            [data]="this.maintenanceService.maintenance()" button_text="Open" (sendId)="openMaintenanceEvent($event)" />
        }@else{
        <div class="flex justify-center">
            <div class="w-full overflow-y-auto sm:w-11/12 md:w-3/4 lg:w-2/3 xl:w-1/2 h-96 sm:h-[400px] md:h-[600px]">
                <full-calendar [options]="calendarOptions"></full-calendar>
            </div>
        </div>
        }
        }
        <div class="flex justify-center">
            @if(selectedTab === 1){
            <app-add-form [config]="maintenanceFormConfig" (formSubmit)="submitForm($event)" />
            }
        </div>
    </div>
</div>