<div>
    <app-header title="Settings" description="Manage your account" />
    <div class="flex flex-col justify-center items-center">
        <div class="px-0 sm:px-10 flex flex-col items-center w-full border-t-1 border-gray-100">
            <h3 class="text-xl font-bold">Password</h3>
            <p class="font-medium text-gray-700">Change your password</p>
            <form [formGroup]="changePasswordForm" (ngSubmit)="submitChangePassword(
        changePasswordForm.value.oldPassword!,
        changePasswordForm.value.newPassword!,
        changePasswordForm.value.retypePassword!
      )">
                <label for="oldPassword" class="text-xs font-medium text-gray-700">Current password</label>
                <input type="password" id="oldPassword" formControlName="oldPassword"
                    class="mt-1 block w-60 rounded-md border-gray-300 shadow-sm focus:border-gray-600"
                    autocomplete="current-password">

                @if (changePasswordForm.get('oldPassword')?.touched && changePasswordForm.get('oldPassword')?.invalid) {
                <div class="text-red-500 text-xs w-60">
                    @if (changePasswordForm.get('oldPassword')?.errors?.['required']) {
                    <span>Current password is required.</span>
                    }
                    @if (changePasswordForm.get('oldPassword')?.errors?.['minlength']) {
                    <span>Current password must be at least 8 characters long.</span>
                    }
                </div>
                }
                <label for="newPassword" class="text-xs font-medium text-gray-700">New password</label>
                <input type="password" id="newPassword" formControlName="newPassword"
                    class="mt-1 block w-60 rounded-md border-gray-300 shadow-sm focus:border-gray-600"
                    autocomplete="new-password">

                @if (changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.invalid) {
                <div class="text-red-500 text-xs w-60">
                    @if (changePasswordForm.get('newPassword')?.errors?.['required']) {
                    <span>New password is required.</span>
                    }
                    @if (changePasswordForm.get('newPassword')?.errors?.['minlength']) {
                    <span>New password must be at least 8 characters long.</span>
                    }
                </div>
                }
                <label for="retypePassword" class="text-xs font-medium text-gray-700">Retype password</label>
                <input type="password" id="retypePassword" formControlName="retypePassword" autocomplete="new-password"
                    class="mt-1 block w-60 rounded-md border-gray-300 shadow-sm focus:border-gray-600">

                @if (changePasswordForm.get('retypePassword')?.touched &&
                changePasswordForm.get('retypePassword')?.invalid) {
                <div class="text-red-500 text-xs w-60">
                    @if (changePasswordForm.get('retypePassword')?.errors?.['required']) {
                    <span>Retyped password is required.</span>
                    }
                    @if (changePasswordForm.get('retypePassword')?.errors?.['minlength']) {
                    <span>Retyped password must be at least 8 characters long.</span>
                    }
                </div>
                }
                <button type="submit" [disabled]="changePasswordForm.invalid"
                    class="w-60 my-2 inline-flex justify-center rounded-md border border-transparent bg-green-500 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-green-700 hover:cursor-pointer">
                    Save
                </button>
                @if (errorChangePassword) {
                <div class="text-red-600 text-xs w-60 my-2">
                    {{ errorChangePassword }}
                </div>
                }
            </form>
        </div>
        <div class="px-0 sm:px-10 flex flex-col items-center w-full border-t-1 border-gray-100">
            <h3 class="text-xl font-bold">Delete your account</h3>
            <p class="font-medium text-gray-700">This action is irreversible</p>
            <button (click)="changeActive()"
                class="w-60 my-2 inline-flex justify-center rounded-md border border-transparent bg-red-500 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-red-700 hover:cursor-pointer">Delete
            </button>
        </div>
    </div>
    @if(showDeleteDialog){
    <app-settings-confirm-dialog (cancelDialog)="changeActive()" (deleteUser)="deleteUser($event)"
        [deleteError]="deleteError" />
    }
</div>